
body {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    
}

.calculator,.screen,.button {
    border-style: solid;
    border-color: white;
    border-radius: 16px;
    box-sizing: border-box
}


.calculator {
    width: 400px;
    height: 550px;
    display: flex;
    padding: 32px 24px;
    flex-direction: column;
    gap:32px;
}

.screen {
    height: 100px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 auto;
    gap: 16px;
}

.row {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    gap: 16px;
}

.button {
    display: flex;
    flex: 1 0;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-family: ubuntu;
    font-weight: 700;
}


