
body {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    
}

.calculator,.screen,.button {
    border-style: solid;
    border-color: white;
    border-radius: 16px;
    box-sizing: border-box
}


.calculator {
    width: 400px;
    height: 600px;
    display: flex;
    padding: 32px;
    flex-direction: column;
}

.screen {
    height: 100px;
}

